.login-page {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #E5E7EB;
}

.login-page.dark{
    background-color: #111827;
}

.login-page .login-page-banner{
    background-color: #2563eb;
    display: block;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-page h1{
    font-size: 2.5rem
}

.login-page .login-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page .login-container h3{
    font-size: 1.5rem;
}

.login-page .login-container.dark, .login-page .login-container.dark button{
    color: #F3F4F6
}

.login-page .login-button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #2563eb;
    border-radius: 30px;
    gap: 20px;
    padding: 5px 30px;
    cursor: pointer;
    font-weight: bold;
}

.login-page .login-button:hover{
    background-color: #2563eb;
    color: #F3F4F6;
}

.login-page img{
    height: 50px;
}